{% extends 'base.html.twig' %}

{% block title %}Liste des {% endblock %}

{% block body %}

<a href="{{ url('films_create') }}">Nouveau Film</a>

<div>
    {% for film in films %}
        <h2>#{{ film.id }} : {{ film.titre }}</h2>
        <h3>Sortie : {{ film.anneeSortie }}</h3>

        <ul>
        {% for acteur in film.acteurs %}
        <li>{{acteur.nom}} {{acteur.prenom}}</li>
        {% endfor %}  
        </ul>

        
        <a href="{{ url('films_edit', { 'id':film.id } ) }}">Editer</a>
        <br/>

        {% if film.genre|length == 0 %}
        
        <a href="{{ url('films_delete', { 'id':film.id } ) }}">Supprimer</a>
        {% endif %}
        
        {% if film.genre is not null %}
        <h3>Genre : {{ film.genre.nom }}</h3>
        {% endif %}
        
        <p>{{film.resume}}</p>



        <hr />
    {% endfor %}   
</div>

{% endblock %}
